.buttonContainer {
    gap: 16px;
    justify-content: center;
}

div {
    display: flex;
}

.defeat {
    background-color: red;
}

.scoreCard {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.scores {
    justify-content: space-evenly;
}

.victory {
    background-color: green;
}